@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#timer {
  font-size: 2em;

}

.paused {
  color: red;
}

button {
  height: 3rem;
  width: 5rem;
  border-radius: 5px;
  background-color:rgb(17, 86, 102);
  color: white;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  border: 1px solid #ccc;
}

button:hover {
  color:rgb(17, 86, 102);
  background-color: white;
  transform: scale(1.05);
  border-color: rgb(17, 86, 102);
}
